@import "../../fonts/lato_regular/lato_regular.css";
@import "../../fonts/gothampro-black/gothampro-black.css";
@import "../../fonts/myriadpro-light/myriadpro-light.css";
@import "../../fonts/open_sans/open_sans.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header-block {
  height: 90px;
  display: flex;
  align-items: center;
}
.header-block .header-block__img {
  height: 50px;
}
.header-block .header-block__nav {
  margin-left: auto;
}
.header-block .header-block__nav .nav__allMenu {
  display: flex;
  font-family: "Lato Regular";
  font-size: 13.5px;
}
.header-block .header-block__nav .nav__allMenu .nav__elemMenu {
  text-transform: uppercase;
  padding: 13px 20px;
  height: 35px;
}
.header-block .header-block__nav .nav__allMenu .nav__elemMenu:hover {
  background: #ffbb42;
  border-radius: 2px;
}
.header-block .header-block__nav .nav__allMenu .nav__elemMenu:hover .nav__link {
  color: white;
}
.header-block .header-block__nav .nav__allMenu .nav__elemMenu .nav__link {
  color: #9e9e9e;
}

.banner {
  background: #709dca;
  text-align: center;
}
.banner .banner__h1 {
  font-family: "GothamPro-Black";
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  padding-top: 110px;
}
.banner .banner__text {
  font-family: "MyriadPro-Light";
  color: white;
  line-height: 0.686;
  font-size: 18px;
}
.banner .form .form__name {
  background: url("../../img/icon1.png") no-repeat 17px 15px;
  background-color: white;
  height: 46px;
}
.banner .form .form__email {
  background: url("../../img/icon2.png") no-repeat 17px 15px;
  background-color: white;
  height: 46px;
}
.banner .form .form__phone {
  background: url("../../img/icon3.png") no-repeat 17px 15px;
  background-color: white;
  height: 46px;
}
.banner .form .form__btn {
  width: 210px;
  height: 46px;
}
.banner .banner__images {
  position: relative;
  top: 80px;
}

.service {
  margin-top: 202px;
}
.service .service__h1 {
  text-align: center;
}
.service > .service__p {
  font-weight: 600;
  text-align: center;
  margin-bottom: 90px;
}
.service .service__twoBlocks {
  display: flex;
}
.service .service__twoBlocks .service__block {
  width: 50%;
  margin-bottom: 81px;
  display: flex;
}
.service .service__twoBlocks .service__block .service__icon {
  height: 45px;
  margin-right: 36px;
}
.service .service__twoBlocks .service__block .service__text {
  width: 77%;
}
.service .service__twoBlocks .service__block .service__text .service__h3 {
  font-family: "Lato Regular";
  font-size: 16px;
  color: #394b50;
  font-weight: bold;
  margin-bottom: 24px;
}
.service .service__twoBlocks .service__block .service__text .service__p {
  font-size: 13px;
  font-family: "Open Sans";
  color: #7b7b7b;
  line-height: 1.692;
}

.aboutUs {
  display: flex;
  background: #ffc155;
}
.aboutUs .aboutUs__img {
  width: 50%;
}
.aboutUs .aboutUs__text {
  width: 50%;
  color: white;
  margin-left: 80px;
}
.aboutUs .aboutUs__text .aboutUs__h2 {
  font-family: "GothamPro-Black";
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  margin-top: 165px;
}
.aboutUs .aboutUs__text .aboutUs__p {
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 1.846;
}
.aboutUs .aboutUs__text .aboutUs__btn {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ad48;
  border-radius: 2px;
  width: 147px;
  height: 48px;
  font-family: "Lato Regular";
  color: white;
  background: #ffc155;
}

.pricing {
  text-align: center;
  background: #e7edf3;
  height: 898px;
  display: flex;
  align-items: center;
}
.pricing .pricing__p {
  line-height: 0.733;
  margin-bottom: 53px;
}
.pricing .pricing__block {
  display: flex;
  align-items: center;
}
.pricing .pricing__block .first-pricing {
  width: 388px;
  height: 441px;
  border: 1px solid #ccd5df;
  background: #ffffff;
  padding: 55px 28px 47px 28px;
  color: #818b95;
  font-family: "Lato Regular";
  text-transform: uppercase;
}
.pricing .pricing__block .first-pricing .first-pricing__h4 {
  font-size: 25px;
}
.pricing .pricing__block .first-pricing .first-pricing__price {
  color: #ffbb42;
  font-family: "Lato Regular";
  font-size: 60px;
  font-weight: 600;
}
.pricing .pricing__block .first-pricing .first-pricing__price .first-pricing__span {
  font-size: 30px;
  position: relative;
  top: -25px;
}
.pricing .pricing__block .first-pricing .first-pricing__month {
  margin-bottom: 34px;
}
.pricing .pricing__block .first-pricing .first-pricing__p {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ccd5df;
}
.pricing .pricing__block .first-pricing .first-pricing__btn {
  width: 132px;
  height: 43px;
}
.pricing .pricing__block .second-pricing {
  width: 396px;
  height: 502px;
  background: #709dca;
  color: white;
  padding: 86px 33px 77px 33px;
  font-family: "Lato Regular";
  text-transform: uppercase;
}
.pricing .pricing__block .second-pricing .second-pricing__h4 {
  font-size: 25px;
}
.pricing .pricing__block .second-pricing .second-pricing__price {
  font-family: "Lato Regular";
  font-size: 60px;
  font-weight: 600;
}
.pricing .pricing__block .second-pricing .second-pricing__price .second-pricing__span {
  font-size: 30px;
  position: relative;
  top: -25px;
  font-weight: 300;
}
.pricing .pricing__block .second-pricing .second-pricing__month {
  margin-bottom: 34px;
}
.pricing .pricing__block .second-pricing .second-pricing__p {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ffffff;
}
.pricing .pricing__block .second-pricing .second-pricing__btn {
  width: 132px;
  height: 43px;
}
.pricing .pricing__block .third-pricing {
  width: 388px;
  height: 441px;
  border: 1px solid #ccd5df;
  background: #ffffff;
  padding: 55px 28px 47px 28px;
  color: #818b95;
  font-family: "Lato Regular";
  text-transform: uppercase;
}
.pricing .pricing__block .third-pricing .third-pricing__h4 {
  font-size: 25px;
}
.pricing .pricing__block .third-pricing .third-pricing__price {
  color: #ffbb42;
  font-family: "Lato Regular";
  font-size: 60px;
  font-weight: 600;
}
.pricing .pricing__block .third-pricing .third-pricing__price .third-pricing__span {
  font-size: 30px;
  position: relative;
  top: -25px;
}
.pricing .pricing__block .third-pricing .third-pricing__month {
  margin-bottom: 34px;
}
.pricing .pricing__block .third-pricing .third-pricing__p {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ccd5df;
}
.pricing .pricing__block .third-pricing .third-pricing__btn {
  width: 132px;
  height: 43px;
}

.how-it-work {
  text-align: center;
  height: 855px;
  padding: 155px 30px 148px 30px;
}
.how-it-work .how-it-work__p {
  line-height: 0.733;
  margin-bottom: 107px;
  font-weight: 600;
}
.how-it-work .how-it-work__blocks {
  display: flex;
}
.how-it-work .how-it-work__blocks .step__img {
  margin-bottom: 100px;
  position: relative;
  height: 68px;
}
.how-it-work .how-it-work__blocks .step__img .step__arrow_down {
  position: absolute;
  left: 74%;
  top: -74%;
}
.how-it-work .how-it-work__blocks .step__img .step__arrow_up {
  position: absolute;
  left: 74%;
  bottom: -74%;
}
.how-it-work .how-it-work__blocks .step__h4 {
  font-family: "Lato Regular";
  color: #394b50;
  font-size: 20px;
  font-weight: bold;
}
.how-it-work .how-it-work__blocks .step__p {
  line-height: 1.692;
  margin-bottom: 94px;
  font-family: "Open Sans";
  color: #7b7b7b;
  font-size: 13px;
}
.how-it-work .how-it-work__btn {
  width: 165px;
  height: 46px;
}

.clients {
  background: #ffc155;
  height: 910px;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 160px;
}
.clients .clients__h2 {
  font-family: "GothamPro-Black";
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.clients .clients__p {
  font-family: "MyriadPro-Light";
  font-size: 18px;
  color: white;
  margin-bottom: 58px;
}
.clients .clients__blocks-quotes {
  display: flex;
}
.clients .clients__blocks-quotes .clients__block-quote {
  display: flex;
  height: 241px;
  padding-top: 44px;
  padding-bottom: 51px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
  background: #ffffff;
  border-radius: 2px;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-img {
  height: 121px;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text {
  padding-left: 34px;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text .clients__quote {
  font-family: "Open Sans";
  font-size: 13px;
  color: #7b7b7b;
  line-height: 1.692;
  position: relative;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text .clients__quote:before {
  content: '"';
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: -20px;
  left: -14px;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text .clients__quote:after {
  content: '"';
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  bottom: -24px;
  right: 41px;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text .clients__aboutClient {
  text-transform: uppercase;
  font-family: "Lato Regular";
  font-size: 14px;
  color: #a7b4b9;
}
.clients .clients__blocks-quotes .clients__block-quote .clients__block-text .clients__aboutClient .clients__name {
  color: #f6772c;
}
.clients .clients__blocks-quotes .clients__block-quote_right-top {
  margin-right: 18px;
  margin-bottom: 20px;
}
.clients .clients__blocks-quotes .clients__block-quote_right-bottom {
  margin-right: 18px;
}
.clients .clients__blocks-quotes .clients__block-quote_left-top {
  margin-left: 18px;
  margin-bottom: 20px;
}
.clients .clients__blocks-quotes .clients__block-quote_left-bottom {
  margin-left: 18px;
}

.___ {
  font-size: 30px;
  font-family: "BrandonGrotesque";
  color: #7b7b7b;
  font-weight: bold;
  line-height: 0.733;
  position: absolute;
  left: 420.5px;
  top: 4268.505px;
  z-index: 63;
}

.block-form {
  text-align: center;
  height: 945px;
}
.block-form .block-form__h2 {
  margin-top: 154px;
}
.block-form .block-form__form [type=text] {
  background: url("../../img/icon1.png") no-repeat 17px 15px;
  background-color: white;
  height: 46px;
  border: 1px solid #cbcbcb;
}
.block-form .block-form__form [type=email] {
  background: url("../../img/icon2.png") no-repeat 17px 15px;
  background-color: white;
  height: 46px;
  border: 1px solid #cbcbcb;
}
.block-form .block-form__form [type=button] {
  width: 210px;
  height: 46px;
}
.block-form .block-form__address {
  background-image: url("../../img/background.png");
  height: 659px;
}

.banner .form .form__name, .banner .form .form__email, .banner .form .form__phone, .block-form .block-form__form [type=text], .block-form .block-form__form [type=email] {
  padding: 15px 15px 15px 40px;
  border-radius: 2px;
  font-family: "Open Sans";
  margin-top: 36px;
}

.service .service__h1, .pricing .pricing__h2, .how-it-work .how-it-work__h2, .block-form .block-form__h2 {
  font-family: "GothamPro-Black";
  font-size: 30px;
  text-transform: uppercase;
  color: #394b50;
}

.service > .service__p, .pricing .pricing__p, .how-it-work .how-it-work__p, .block-form .block-form__p {
  font-family: "MyriadPro-Light";
  font-size: 18px;
  color: #394b50;
}

.banner .form .form__btn, .pricing .pricing__block .first-pricing .first-pricing__btn, .pricing .pricing__block .second-pricing .second-pricing__btn, .pricing .pricing__block .third-pricing .third-pricing__btn, .how-it-work .how-it-work__btn, .block-form .block-form__form [type=button] {
  background: #ffbb42;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
}