// обнуление
@import "zeroing.scss";
@import "../../fonts/lato_regular/lato_regular.css"; // font-family: 'Lato Regular';
@import "../../fonts/gothampro-black/gothampro-black.css"; // font-family: 'GothamPro-Black';
@import "../../fonts/myriadpro-light/myriadpro-light.css"; // font-family: "MyriadPro-Light";
@import "../../fonts/open_sans/open_sans.css"; // font-family: 'Open Sans';

@import "1_header-block.scss";
@import "2_banner.scss";
@import "3_service.scss";
@import "4_aboutUs.scss";
@import "5_pricing.scss";
@import "6_how-it-work.scss";
@import "7_clients.scss";
@import "8_block-form.scss";



%form___input___display {
    padding: 15px 15px 15px 40px;
    border-radius: 2px;
    font-family: 'Open Sans';
    margin-top: 36px;
}

%text_h1 {
    font-family: 'GothamPro-Black';
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(57, 75, 80);
}

%text_p {
    font-family: 'MyriadPro-Light';
    font-size: 18px;
    color: rgb(57, 75, 80);
}

%btn {
    background: #ffbb42;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
}




 






   
  
  
  
  





  



  



  
